*{
margin: 0;
padding: 0;
}
html{background:#eee/* url(../assets/bg-body.png) repeat 0 0*/;color:#222222;background-attachment:fixed;}
::-moz-selection{background:#111111;color:#F1F1F1;}
::selection{background:#111111;color:#FFFFFF;}
#documenter_sidebar #documenter_logo{background-image:url(assets/media/logo.png);}
a{color:#111111;}
hr{border-top:1px solid #E5E5E5;border-bottom:1px solid #F9F9F9;}
#documenter_sidebar, #documenter_sidebar ol a{background-color:#333333;color:#F1F1F1;background-image:url(assets/media/image_13.gif);background-repeat:repeat-y;}
#documenter_sidebar ol a{-webkit-text-shadow:1px 1px 0px #444444;-moz-text-shadow:1px 1px 0px #444444;text-shadow:1px 1px 0px #444444;}
#documenter_sidebar ol{border-top:1px solid #222222;}
#documenter_sidebar ol a{border-top:1px solid #444444;border-bottom:1px solid #222222;color:#F1F1F1;}
#documenter_sidebar ol a:hover{background:#111111;color:#F1F1F1;border-top:1px solid #111111;}
#documenter_sidebar ol a.current{background:#111111;color:#F1F1F1;border-top:1px solid #111111;}
#documenter_copyright{display:block !important;visibility:visible !important;}
/*.row{
	width: 1120px;
	margin: 0 auto;
}*/
.two-third{
	width: 64%;
}
.one-third{
	width: 32%;
}
.one-half{
	width: 48%;
}
.column-last{
	clear: right;
	margin-right: 0 !important;
}
.one-half, .two-third, .one-third{
	float: left;
	margin-right: 4%;
	margin-bottom: 20px;
}
body{
	font: 300 15px/2 "Open Sans", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
*,* :before, * :after{box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
/* Menu */
#documenter_container .logo{padding:20px;}
.logo {background-color:#0082ba}
.logo img {
	max-width: 100%;
}
#documenter_container{
	width: 100%;
	margin:0 auto;
	overflow:hidden;
}

#documenter_container #documenter_menu{
	width: 300px;
	height:100%;
	float: left;
	background:url(../assets/darknoise.png) repeat 0 0;
	position:fixed;
	top:0;
	left:0;
	z-index:100
}
#documenter_container #documenter_menu:after{
	display:table;
	content:"";
	clear:both;
}
#documenter_container #documenter_content{
	height: auto;
    left: 300px;
    min-height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    right: 20px;
    z-index: 1;
}

/*#documenter_menu{
	top: 0;
	left:0;
	width: 100%;
	height: 18px;
	line-height: 18px;
	z-index: 100;
	font-size: 14px;
}
#documenter_menu .affix-top{
	
}
#documenter_menu .affix{
	position: fixed;
	top: 20px;
	width:280px;
}*/
#documenter_nav li{
	list-style-type: none;
}
#documenter_nav > li{
	display: inline-block;
	position: relative;
	float: left;
	width:100%;
}
#documenter_nav li ul.sub_menu{
	width: 300px;
	height: auto;
	z-index: 100;
	display:none;
	position:absolute;
	left:100%;right:auto;
	top:0;bottom:auto;
	background: #4499c4;
}
#documenter_nav li:hover > ul.sub_menu{display:block;}
#documenter_nav li ul.sub_menu li{
	border-top: none;
}
#documenter_nav li ul.sub_menu li a{
	padding: 9px 10px;
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
	line-height: 20px;
	/*background-color: #4499c4;*/
	background:url(../assets/bkg-sub-menu.jpg);
	box-shadow:inset 0 1px 0 #323232;
	-moz-box-shadow:inset 0 1px 0 #323232;
}
#documenter_nav li ul.sub_menu li:hover > a
,#documenter_nav li ul.sub_menu li > a.current
,#documenter_nav li ul.sub_menu li.active > a{
	color: #44a89f;
}
#documenter_nav li.parent > a:after{
	content:"";
	height:11px;width:11px;
	background:url(../assets/ic-has-parent2.png) no-repeat 0 0;
	position:absolute;
	right:10px;top:14px;bottom:14px;left:auto;
	transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
}
#documenter_nav li.parent:hover > a:after{
	background-position:100% 0;
}
#documenter_nav li a{
	text-decoration: none;
	padding: 10px 10px;
	position:relative;
	line-height: 18px;
	display: inline-block;
	color:#aed3ba;
	width:100%;
	font-family:"Lato", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
#documenter_nav li:hover > a,
#documenter_nav li.active > a{
	color: #44a89f;	
	background:url(../assets/bkg-sub-menu.jpg);
}
#documenter_nav li > a{
	color: #daccb6;
	font-size:15px;
	font-weight:400;
	background:url(../assets/bkg-menu.jpg);
	box-shadow:inset 0 1px 0 #222;
	-moz-box-shadow:inset 0 1px 0 #222;
	transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
}
/* Document content */
#documenter_content section{
	clear: both;
}
#documenter_content section h1
,#documenter_content section h2
,#documenter_content section h3
,#documenter_content section h4
,#documenter_content section h5
,#documenter_content section h6{
	clear: both;
	font-family:"Lato", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
#documenter_content section h1{
	border-bottom: 2px solid #44a89f !important;
	padding-top: 55px;
	margin-bottom: 10px;
	padding-bottom: 5px;
	font-size: 20px;
	line-height:24px;
	text-transform:uppercase;
	color:#44a89f;
	font-family:"Lato", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
#documenter_content h4{
	font-size: 20px;
	line-height: 30px;
	height: 30px;
}
#documenter_content h5{
	font-size: 18px;
	line-height: 30px;
	height: 30px;
}
#documenter_content h6{
	font-size: 17px;
	line-height: 28px;
	height: 28px;
}
#documenter_content ol li
,#documenter_content ul li{
	margin: 7px 0px 7px 21px;
}
#documenter_content p{
	font-size: 15px;
	margin:7px 0;
}
#documenter_content .warning
,#documenter_content .info{
	box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
	clear: both;
	padding: 10px 10px 10px 30px;
	margin: 5px 0px;
}
#documenter_content .warning{
	background-color: #ffd;
	background-image: url(../assets/warning.png);
	background-repeat: no-repeat;
	background-position: 8px 12px;
	border: 1px solid #D3D6DB;	
}
#documenter_content .info{
	background-color: #A3D0FF;
	background-image: url(../assets/info.png);
	background-repeat: no-repeat;
	background-position: 8px 14px;
	border: 1px solid #6AB3FF;
}
#documenter_content img{
	max-width: 100%;
	border: 1px dashed #ccc;
	vertical-align: top;
	margin-right: 8px;
	margin-bottom: 15px;
}
#documenter_content a{
	color: red;
	text-decoration: none;
}
#documenter_content a:hover{
	color: #222;
}
#documenter_content textarea.code{
	width: 100%;
	min-height: 300px;
	max-height: 500px;
	padding: 10px;
	margin-top: 5px;
	white-space: normal;
	resize: none;
}
#documenter_content textarea.code.shortcode{
	max-height: 150px;
	min-height: 100px;
}
#documenter_content .home-sample-content textarea{
	width: 100%;
	height: 800px;
	padding: 10px;
	white-space: normal;
	resize: none;
}
#documenter_content ul.desc_options li > ul li img{
	margin-right: 10px;
}
#documenter_content .home-title{
	clear: both;
	font-weight: bold;
}
.upper {
	text-transform: uppercase;
}
h2 {
	border-bottom: solid 2px;
}
